body {
    font-family: Arial, sans-serif;
    font-size: small;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
  }
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
nav {
    display: inline-block;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    display: inline-block;
}
.buttons {
    font-family: inherit;
    font-size: inherit;
    background-color: darkgray;
}
.buttons:hover {
    color: black;
    border: 1px solid #f2f2f2;
}
#left {
    float: left;
}
#right {
    float: right;
}
/* Is it possible to combine the above two statements?*/

#fbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid grey;
}
#searchbar {
    border-radius: 50px;
    width: 50%;
    top: 50px;
    right: 50px;
    background-color: rgb(190, 189, 189);
}
#searchbar:hover {

}
/*
#navbar {
    position: relative;
    width: 100%;
}
