body {
    font-family: Arial, sans-serif;
}

div {

}

header {
    padding:0.25em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    /*overflow: hidden;*/
  }
li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 60px;
}
a:hover {
    text-decoration: underline;
}
/*
#navbar {
    position: relative;
    width: 100%;
}
#searchbar {
    position: absolute;
    top: 50px;
    right: 50px;
    border-radius: 50px;
}
#left {
    float:left;
}
#right {
    float: right;
}