body {
    font-family: Arial, sans-serif;
    font-size: small;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
  }
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container {
    height: 200px;
    position: relative;
    display: block;
    align-content: center;
}
#left {
    float: left;
}
#right {
    float: right;
}
/* Is it possible to combine the above two statements?*/

#fbar {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#searchbar {
    position: absolute;
    top: 50px;
    right: 50px;
    border-radius: 50px;
}
/*
#navbar {
    position: relative;
    width: 100%;
}
